apiVersion: 1

datasources:
{% if prometheus_url is defined and prometheus_url %}
  - name: Prometheus
    type: prometheus
    url: http://{{ prometheus_url }}
{% endif %}

  - name: Loki
    type: loki
    url: http://loki:3100

  - name: CloudWatch
    type: cloudwatch
    jsonData:
      customMetricsNamespaces: 'CustomLambdaMetrics'
      authType: default
      defaultRegion: us-east-1

  - uid: "PC3988D4F1D604C00"
    name: "yesoreyeram-infinity-datasource"
    type: "yesoreyeram-infinity-datasource"
    basicAuth: false
    basicAuthUser: ""
    isDefault: false
    jsonData:
      global_queries: []
      proxy_type: "env"
    readOnly: true
  
