server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /data/loki/positions.yaml

clients:
  - url: http://{{ loki_url }}/loki/api/v1/push

scrape_configs:
  - job_name: "{{ hostname }}_logs"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "{{ hostname }}_logs"
          __path__: /var/log/*log

  - job_name: "{{ hostname }}_httpd_logs"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "{{ hostname }}_httpd_logs"
          __path__: /var/log/httpd/*log

  - job_name: "{{ hostname }}_mariadb_logs"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "{{ hostname }}_mariadb_logs"
          __path__: /var/log/mariadb/*log
