[Unit]
Description=Go web application
After=network.target
[Service]
User=root
Group=root
Type=simple
ExecStart=/home/centos/app -p /home/centos/files/index.html
WorkingDirectory=/home/centos
[Install]
WantedBy=multi-user.target